/* I/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
/* Changing the main font and background colour */

body {
	margin-right: auto; 
    margin-left: auto; 
	max-width:1160px; 
	padding-right: 10px; 
	padding-left: 10px; 
	font-family: "Calistoga" ; 
 	color: #000000;
	background-color: #ab8fac;
	height: 100%;
	width: 100%;
	
	

}
	

/* Changing the background colour for the header */

header {

	background-color: #cc33ff;
	height: 250;
	width: 100%;
 	text-align: center;
	color: #000000;
}

/* Changing the background color for the navigation bar */

.navbar {

    
	background-color: #ffcc65;
	color: #ffcc65;
	height: 100px
	
}

/* Effect on social media buttons */

footer:hover {
	background-color: #ab8fac;
	color: #ab8fac;
	height: 800px;
	width: 100%;
}
.position-relative {

	color: #000000;

}

#lijst {
	text-align: left;
	color: #000000
}
#foot { 
	color: #000000
}




/* Changing the main font and background colour */

body {
	margin-right: auto; 
    margin-left: auto; 
	max-width:1160px; 
	padding-right: 10px; 
	padding-left: 10px; 
	font-family: Calistoga;
 	color: #000000;
	
	height: 100%;
	width: 100%;
	
	

}
	

/* Changing the background colour for the header */

header {

	background-color: #AB8FAC;
	height: 250;
	width: 100%;
 	text-align: center;
	color: #000000;
}

/* Changing the background color for the navigation bar */

.navbar {


	background-color: #AB8FAC;
	color: #000000;
	height: 100px
	
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;


	color: #000000;
	height: 800px;
	width: 100%;
}
.position-relative {
	color: #00000;
}

#lijst {
	text-align: left;
	color: #000000
}
#foot { 
	color: #00000
}

#navbarSupportedContent {
	color: #f2f2f2;
	
}

.navbar-nav button {
	border: none;
	background: none;
	position: relative;
	
}
.navbar-nav button.wishlist:focus{
	background-color:red;
}
.navbar-nav button.wishlist{
}
.empty-card {
	display: none;
}
.navbar-nav button.wishlist:hover .empty-card{
	display: block;
	position: absolute;
	left: 0;
	width: 300px;
	padding: 15px;
	background: #ffcc67;
	border-radius: 5px;
	top: 54px;
}
.navbar-nav button {
	border: none;
	background: none;
}