/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-image:image();
	height: 800px;
	width: auto;
	vertical-align: middle;

}

/* Changing the background colour for the header */

header {
	background-color: #983AF5;
	height: 200px;
	width: auto;
	
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #CD31F4;

}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
	height: 800px;
	width: auto;
}
.position-relative {
}
.width {
}
